# Dependencies
node_modules

# Log files
logs
*.log
npm-debug.log*
    
# Runtime data
pids
*.pid
*.seed

# Local env files
.env

# Build Outputs
build
dist

# Miscellaneous
.tmp
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.tsbuildinfo

# Database
database
*.db

# Cache
.prettiercache
.eslintcache
.vercel